.hex-display, .output, .sap2 {
  flex: 1;
  background-color: #1e1e1e;
  border: 1px solid #444;
  padding: 1em;
}

.hex-display, .sap2 {
  margin-bottom: 1em;
}

.sap2 {
  flex-grow: 1;
}
.hex-display, .output{
  min-height: 5.5em;
  max-height: 12em;
}

.hex-output {
  font-size: 1em;
  color: #9cdcfe;
  margin-top: 0.5em;

  /* cambiarra -> barra de rolagem do hexa-display */
  overflow-y: auto;  
  height: 75px;
}

.output-log {
  background-color: #252526;
  color: #dcdcaa;
  padding: 0.5em;
  height: 55%;
  border: 1px solid #444;

  /* cambiarra -> barra de rolagem do output */
  overflow-y: auto; 
  white-space: pre-wrap;
}
